.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

header {
  background-color: #222;
 /*height: 100px;*/
 margin-bottom: 0px;
 color: white;
 width:100%;
 display:flex;
 flex-wrap: wrap;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

main {
  position: relative;
  display: flex;
  width: 100%;
}

#map {
  width: 100%;
}

#map-container {
  height: 90vh;
  width: 100%
}

footer {
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: rgb(196, 186, 189);
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
