.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

header {
  background-color: #ab1c1c;
 margin-bottom: 0px;
 color: white;
 width:100%;
 display:flex;
 flex-wrap: wrap;
}

h1{
  padding-left: 30px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.menu-icon{
  width: 50px;
  padding: 20px;
}

main {
  position: relative;
  display: flex;
  width: 100%;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000;
  color: #fff;
}

.filter {
  background-color: #eee;
  width: 30%;
  padding: 1em;
}

.filter-title {
  color: #000;
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}

.input-wrapper {
  position: relative;
  height: 35px;
  width: 100%;
  margin: 1em 0;
}

.input-wrapper input {
  height: 100%;
  width: 90%;
  background-color: #fff;
  line-height: 30px;
  padding: 0.5em;
  font-size: 15px;
}

.filtered-places {
  margin: 0.5em 0;
  font-size: 14px;
  text-align: center;
}

.filtered-list {
  list-style: none;
  padding: 0.5em;
  background-color: #ddd;
}

.filtered-list .result-item {
  font-size: 15px;
  padding: 0.5em;
  border-bottom: 1px solid #b0bec5;
  cursor: pointer;
}

.filtered-list .result-item:hover,
.filtered-list .result-item:focus {
  color: #000;
  padding-left: 10px;
}




@media (min-width: 550px) and (max-width: 710px) {
  .filter {
    width: 50%;
  }
  .map {
    width: 40%;
  }
}

@media (max-width: 549px) {
  h1 {
    font-size: 1.3em;
  }
  .filter {
    width: 100%;
  }
  main {
    position: relative;
    display: flex;
     flex-wrap: wrap;
    width: 100%;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
